contracts/artifacts
contracts/compiled
contracts/cache
contracts/build
contracts/package-lock.json

server/logs/

node_modules
package-lock.json

.DS_Store

**/contractAddress.txt
**/contractAddress.old

